<!DOCTYPE html>
<html>
    <head>
        <title>Piktur</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    </head>
    <body>
        <nav>
            <div id="navContainer">

                <div id="logoContainer">
                    <h1 id="logo">Piktur</h1>
                </div>

                <div id="addPostContainer">
                    <button class="mainButtons" id="addPost" onclick="location.href='/piktur/new';">New Post</button>
                </div>

                <div id="accountContainer">
                    <a href="/">Sign up</a>
                    <a href="/">Sign in</a>
                </div>  
            </div>
        </nav>