<% include partials/header %>

<!--
    Container for Image Posts
-->
<div id="container">
    <% imageposts.forEach(function(post){ %>
        <div class="thumbnail">
        <div class="thumbnailContainer">
            <div class="thumbnailImgContainer">
                <img src="<%=post.image %>" />
            </div>
            <div class="titleContainer">
                <h2> <%= post.title %> </h2>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<% include partials/footer %>