<% include partials/header %>
<div id="landingContainer">
    <div id="landingContentContainer">
        <h1 id="landingHeader">Welcome to Piktur!</h1>
        <button id="viewPosts" class="mainButtons" onclick="location.href='/piktur';">View Posts</button>
    </div>
</div>  
<% include partials/footer %>