<% include partials/header %>
<!--
    Container for Images
-->

<div id="container">
    <div class="thumbnail">
        <div class="thumbnailContainer">
            <div class="thumbnailImgContainer">
                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F_FcBIBJeWfvk%2FTTK4e9OP4nI%2FAAAAAAAAArI%2FxNySGyfJvKU%2Fs1600%2Fpug_10.jpg&f=1"/>
            </div>
            <div class="titleContainer">
                <h2>Brains!</h2>
            </div>
        </div>

    </div>

    <div class="thumbnail">
            <div class="thumbnailContainer">
                <div class="thumbnailImgContainer">
                        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F_FcBIBJeWfvk%2FTTK4e9OP4nI%2FAAAAAAAAArI%2FxNySGyfJvKU%2Fs1600%2Fpug_10.jpg&f=1"/>
                </div>
                <div class="titleContainer">
                    <h2>Brains!</h2>
                </div>
            </div>
    
        </div>

        <div class="thumbnail">
                <div class="thumbnailContainer">
                    <div class="thumbnailImgContainer">
                            <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F_FcBIBJeWfvk%2FTTK4e9OP4nI%2FAAAAAAAAArI%2FxNySGyfJvKU%2Fs1600%2Fpug_10.jpg&f=1"/>
                    </div>
                    <div class="titleContainer">
                        <h2>Brains!</h2>
                    </div>
                </div>
        
            </div>


            <div class="thumbnail">
                    <div class="thumbnailContainer">
                        <div class="thumbnailImgContainer">
                                <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F_FcBIBJeWfvk%2FTTK4e9OP4nI%2FAAAAAAAAArI%2FxNySGyfJvKU%2Fs1600%2Fpug_10.jpg&f=1"/>
                        </div>
                        <div class="titleContainer">
                            <h2>Brains!</h2>
                        </div>
                    </div>
            
                </div>

                <div class="thumbnail">
                        <div class="thumbnailContainer">
                            <div class="thumbnailImgContainer">
                                    <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fanimalsbreeds.com%2Fwp-content%2Fuploads%2F2014%2F07%2FPug-9.jpg&f=1"/>
                            </div>
                            <div class="titleContainer">
                                <h2>Brains!</h2>
                            </div>
                        </div>
                
                    </div>

                    
</div>
<% include partials/footer %>