<% include partials/header %>

<div class="container">
    <h1>Add A New Image</h1>
    <div id="formContainer">
        <form action="/>

        </form>
    </div>
</div>

<% include partials/footer %>