*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #2E3035;
    font-family: 'Roboto', sans-serif;
    color: #F2F2E0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav
{
    width: 100%;
    height: 50px;
    background-color: #34373C;
}

#navContainer
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 50px;
}

#navContainer div
{
    display: inline-block;
    position: relative;
    height: 35px;
    padding: 0 20px;
    line-height: 35px;
}

.mainButtons
{
    background-color: #1BB76E;
    border: none;
}

#addPost
{
    height: 35px;
    width: 129px;
}

#addPostContainer
{
    display: flex;
    justify-content: center;
}

#logo
{
    font-size: 30px;
}

#accountContainer
{
    height: 50px;
}

#accountContainer a
{
    padding: 0 5px;
    text-decoration: none;
    color: #F2F2E0;
}


#container
{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 50px auto 0;
    flex-wrap: wrap;
    justify-content: center;
}


.thumbnail
{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 270px;
    padding: 10px 0;
    text-align: center;
    background-color: #34373C;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.thumbnail:hover
{
    cursor: pointer;
}

.thumbailContainer
{
  display: flex;   
}

.thumbnailImgContainer
{
    margin: 0 auto;
    text-align: center;
}

.thumbnailImgContainer img
{
    height: 200px;
}

.titleContainer
{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    LANDING SECTION STYLINGS
*/

#landingContainer
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;    
}

#landingContentContainer
{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #34373C;
    padding: 50px;
}

#landingHeader
{
    font-size: 80px;
    margin: 50px 0;
}
#viewPosts
{
    height: 45px;
    width: 200px;
}
/*
    FOOTER STYLINGS
*/

footer
{
    position: absolute;
    left: 0;
    bottom: -50px; /* Overriding the margins set on the container */
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: #34373C;
    color: 
}